<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Admin home</h1>
<a href="/myapp/admin_add_route/">Add route</a><br>
<a href="/myapp/admin_view_route/">view route</a><br>
<a href="/myapp/admin_change_pw/">change password</a><br>
<a href="/myapp/Add_vehicle/">add vehicle</a><br>
<a href="/myapp/view_vehicle/">view vehicle</a><br>
<a href="/myapp/route_point_add/">add routepoint</a><br>
<a href="/myapp/view_routepoint/">view routepoint</a><br>
<a href="/myapp/add_fair/">add fair</a><br>
<a href="/myapp/view_fair/">view fair</a><br>
</body>
</html>