<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'admin/adminindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp//" >
    {% csrf_token %}
  <table  class="pull-left">
    <tr>

      <td>
      <input type="text" placeholder="Search by routename" name="textfield"  id="textfield" class="form-control"/></td>
      <td> <input type="submit" name="button" id="button" value="Go" onclick="return confirm('Are You Sure?')"  class="btn btn-success" /></td>

    </tr>
  </table>
<br>
<br>
{% if data %}
  <table  class="table table-bordered" border="3px">
    <tr>
      <th>Slno</th>
      <th>point 1</th>
      <th>point 2</th>
      <th>fair</th>


      <th colspan="2">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
        <td width="50px">{{ forloop.counter }}</td>
      <td>{{ i.ROUTE_POINT1.place }}</td>
      <td>&nbsp;{{ i.ROUTE_POINT2.place }}</td>
      <td>&nbsp;{{ i.fair }}</td>



      <td width="50px"><a href="/myapp/edit_fair/{{ i.id }}" class="btn btn-info">Edit</a></td>

      <td width="50px"><a href="/myapp/delete_fair/{{ i.id }}" class="btn btn-danger">Delete</a></td>
    </tr>
      {% endfor %}

  </table>

{% else %}
<center class="mt-5">
<span style=" font-weight: 900">

<img src="/static/assets/images/no-data.png" alt="no data" width="70" height="70"/>

No data

</span>

</center>

{% endif %}
</form>
</body>
{% endblock %}
</html>
