<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'admin/adminindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/admin_view_booking_details_post/" >
    {% csrf_token %}
  <table width="200" border="1" class="pull-left">
    <div class="row mb-3 align-items-end">
            <div class="col-md-3">
                <label for="textfield">From Date:</label>
                <input type="date" name="textfield" id="textfield" class="form-control" required>
            </div>
            <div class="col-md-3">
                <label for="textfield2">To Date:</label>
                <input type="date" name="textfield2" id="textfield2" class="form-control" required>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary w-100">Search</button>
            </div>
        </div>
  </table>
<br>
<br>
{% if data %}
  <table  class="table table-bordered" border="3px">
    <tr>
      <th>Slno</th>
      <th>Date</th>
      <th>Name</th>
      <th>Vehicle</th>
      <th>Route Point1</th>
      <th>Route Point2</th>
      <th>Check In</th>
      <th>Check Out</th>


      <th colspan="2">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
        <td width="50px">{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.USER.uname }}</td>
      <td>{{ i.VEHICLE.vehicle_name }}</td>
      <td>{{ i.ROUTPOINT1.ROUTE.source }}</td>
      <td>{{ i.ROUTPOINT2.ROUTE.destination }}</td>
      <td>&nbsp;{{ i.checkintime }}</td>
      <td>&nbsp;{{ i.checkouttime }}</td>



    </tr>
      {% endfor %}

  </table>

{% else %}
<center class="mt-5">
<span style=" font-weight: 900">

<img src="/static/assets/images/no-data.png" alt="no data" width="70" height="70"/>

No data

</span>

</center>

{% endif %}
</form>
</body>
{% endblock %}
</html>
